.table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    text-decoration: none;
}

.table__caption {
    caption-side: bottom;
    text-align: right;
    margin-top: 10px;
}

.table__row:nth-child(even) {
    background: rgb(227, 217, 217);
}

.table__row:hover {
    background: rgb(181, 176, 176);
}

.table__cell {
    border: 1px solid #ccc;
    padding: 20px;
    vertical-align: middle;
}

.table__cell--header {
    background-color: rgb(92, 85, 85);
    color: white

}